@import "tailwindcss";

:root {
  --background: #0B0D10;
  --foreground: #F0EEE9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-bebas-neue);
  --font-syne: var(--font-syne);
  --animate-marquee: marquee 25s linear infinite;

  @keyframes marquee {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
  }
}

/* Prevent conflicts between the browser's native scroll and Lenis */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), serif;
}


.highlighted-text {
  display: inline-block;
  color: #a3e635; /* tailwind lime-400 */
  text-shadow: 
    0 0 12px rgba(163, 230, 53, 0.6), 
    0 0 25px rgba(163, 230, 53, 0.2);
}


::-webkit-scrollbar {
  width: 6px; /* Πολύ λεπτό για να μην ενοχλεί το design */
}

::-webkit-scrollbar-track {
  background: #09090b; 
}

::-webkit-scrollbar-thumb {
  background: #a3e635;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #86bf2b; /* Το lime σου */
}
