@import "tailwindcss";

:root {
  --background: #0B0D10;
  --foreground: #F0EEE9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-bebas-neue);
  --font-syne: 'Syne', sans-serif;
  --animate-marquee: marquee 25s linear infinite;

  @keyframes marquee {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
  }
}

/* Prevent conflicts between the browser's native scroll and Lenis */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), serif;
}

/* If you want a 'sticky' reveal feel */
footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
}
/* Hide scrollbar */

:root {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE and Edge */
}

::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
  display: none !important; /* Chrome, Safari, and Opera */
}

/* Ensure body and html don't force a scrollbar display */
html, body {
  -webkit-overflow-scrolling: touch;
}

